.cart {
  width: 100%;
  &-container {
    padding-top: 25px;
    &-box {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: center;
      &-items {
        width: 55%;
        padding: 10px;
        background-color: white;
        &-top {
          border-bottom: 1px solid #f0f0f0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &-text {
            font-size: 18px;
            line-height: 56px;
            padding: 0 24px;
            font-weight: 500;
          }
          &-right {
            display: flex;
            gap: 0.8rem;
            &-delivery {
              display: flex;
              gap: 0.5rem;
              &-icon {
                color: #2874f0;
              }
              &-text {
                font-weight: 500;
                color: #878787;
              }
            }
            &-pin {
              &-input {
                outline: none;
                padding: 0 0 6px;
                font-size: 14px;
                border: none;
                border-bottom: 2px solid #2874f0;
                font-weight: 500;
              }
            }
          }
        }
        &-bottom {
          border-top: 1px solid #f0f0f0;
          padding: 16px 22px;
          text-align: right;
          &-button {
            background: #fb641b;
            border: none;
            color: #fff;
            padding: 16px 30px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            min-width: 250px;
            font-family: Roboto, Arial, sans-serif;
          }
        }
      }
      &-amount {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 25%;
        height: fit-content;
        padding: 13px 24px;
        &-top {
          width: 100%;
          border-bottom: 1px solid #f0f0f0;
          padding: 13px 0px;
          &-text {
            color: #878787;
            font-size: 16px;
          }
        }
        &-box {
          width: 100%;
          border-bottom: 1px solid #f0f0f0;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          &-cal,
          &-discount,
          &-charges,
          &-total {
            width: 100%;
            display: flex;
            padding: 13px 0px;
            align-items: flex-start;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 500;
            &-price,
            &-text {
              color: #212121;
            }
          }
          &-discount {
            &-rate {
              color: #388e3c;
            }
          }
        }
        &-total {
          width: 100%;
          display: flex;
          padding: 13px 0px;
          align-items: flex-start;
          justify-content: space-between;
          font-size: 16px;
          font-weight: 500;

          border-bottom: 1px solid #f0f0f0;
          &-text {
            font-weight: 500;
            font-size: 18px;
          }
        }
        &-save {
          padding: 12px 0;
          font-size: 16px;
          &-text {
            color: #388e3c;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.product {
  width: 100%;
  &-container {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    &-left {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
      &-image {
        height: 112px;
        width: 112px;
      }
      &-counter {
        display: flex;
        color: #212121;
        align-items: center;
        text-align: center;
        &-less,
        &-more {
          color: #c2c2c2;
          border-color: #e0e0e0;
          cursor: auto;
          border: 1px solid #c2c2c2;
          font-size: 16px;
          border-radius: 50%;
          padding-top: 1px;
          width: 28px;
          height: 28px;
          cursor: pointer;
        }
        &-count {
          padding: 3px 6px;
          width: 46px;
          height: 28px;
          border-radius: 2px;
          background-color: #fff;
          border: 1px solid #c2c2c2;
          margin: 0 5px;
        }
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      &-name {
        &-text {
          font-size: 16px;
          color: #212121;
          padding-right: 24px;
        }
        &-date {
          font-size: 14px;
          color: #212121;
        }
      }
      &-seller {
        color: #878787;
        font-size: 14px;
        &-image {
          height: 15px;
          vertical-align: middle;
          margin: 0 6px;
        }
      }
      &-rates {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        &-current {
          font-size: 18px;
          font-weight: 500;
          color: #212121;
        }
        &-actual {
          font-size: 14px;
          color: #878787;
          text-decoration: line-through;
        }
        &-discount,
        &-offer {
          font-weight: 500;
          color: #388e3c;
          font-size: 14px;
        }
      }
      &-options {
        display: flex;
        align-items: center;
        gap: 1rem;
        &-one,
        &-second {
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
.empty {
  max-width: 1260px;
  margin: 0 auto;
  &-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 18px;
    &-text {
      font-size: 18px;
      line-height: 56px;
      padding: 0 24px;
      font-weight: 500;
      margin: 0;
    }
    &-box {
      padding: 30px 0 36px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
      &-image {
        width: 165px;
      }
      &-message {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
      }
      &-text {
        font-size: 12px;
      }
      &-login {
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        padding: 12px 72px;
        background: #fb641b;
        border: none;
        color: #fff;
      }
    }
  }
}
